<!DOCTYPE html>
<html>
<head>
  <title>Login con Flask</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h2>Registro</h2>
  <form action="/register" method="POST">
    <input type="text" name="username" placeholder="Usuario" required>
    <input type="password" name="password" placeholder="Contraseña" required>
    <button type="submit">Crear cuenta</button>
  </form>

  <h2>Login</h2>
  <form action="/login" method="POST">
    <input type="text" name="username" placeholder="Usuario" required>
    <input type="password" name="password" placeholder="Contraseña" required>
    <button type="submit">Iniciar sesión</button>
  </form>
</body>
</html> 